:root{
  --color-text:rgba(255, 255, 255, 0.867);
  --color-headings: #fff;
  --color-bg: #0E3A47;
  --color-card-bg: #ffffff27;
  --color-accent: #E6E4C6;
}

*{
  margin: 0;
}

body{
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  grid-template-areas:
  'aside header'
  'aside main'
  'footer footer';
  grid-template-columns: 300px 1fr;
  color: var(--color-text);
  background-color: var(--color-bg);
}

aside{
  grid-area: aside;
  background-color: var(--color-card-bg);
}

aside img{
  width: 100px;
}

header{
  grid-area: header;
  height: 300px;
  background-size: cover;
  background-image: url('./imgs/header-bg-img.jpg');
}

header a{
  text-align: center;
  padding: 10px 30px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

header p{
  font-size: 20px;
}

main{
  grid-area: main;
}

section{
  margin: 0px 15px;
}

footer{
  grid-area: footer;
  text-align: center;
}

h1{
  font-size: 50px;
}

h2{
  padding: 15px 0;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.card{
  flex-basis: 500px;
  flex-grow: 1;
  background-color: var(--color-card-bg);
}

.card img{
  width: 100%;
  height: 100px;
}

.card-content{
  padding: 10px 10px 20px 10px;
}

.card ul{
  display: inline;
  padding: 0;
}

.card ul li{
  display: inline;
  list-style: none;
}

.card a{
  display: block;
  text-align: center;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}